/classwork/HelloWorld/target/
/classwork/Debugging/target/
/classwork/PracticeProgramming/target/
/classwork/Factorizer/target/
/classwork/InterestCalculator/target/
/classwork/SimpleCalculator/target/
/classwork/Shapes/target/
/classwork/StateCapitals/target/
